---
apiVersion: ran.openshift.io/v1
kind: PolicyGenTemplate
metadata:
  name: "common-latest"
  namespace: "ztp-common"
spec:
  bindingRules:
    # These policies will correspond to all clusters with this label:
    common: "true"
    # du-profile: "latest"
  sourceFiles:
    # Create operators policies that will be installed in all clusters
    - fileName: sriov-operator/SriovSubscriptionNS.yaml
      policyName: "{{ 'sriov-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: sriov-operator/SriovSubscriptionOperGroup.yaml
      policyName: "{{ 'sriov-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: sriov-operator/SriovSubscription.yaml
      policyName: "{{ 'sriov-subs' if manyPolicies else 'subscriptions' }}-policy"
{% if extraHubCommonTemplates %}
      metadata:
        annotations:
          {%- raw %}
          scale-test-label-1: '{{hub fromConfigMap "" "common-template-map" "key1" hub}}'
          scale-test-label-2: '{{hub fromConfigMap "" "common-template-map" "key2" hub}}'
          {%- endraw +%}
{% endif %}
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
      spec:
        source: {{ common_catalogsource_name }}
{% endif %}
    - fileName: sriov-operator/SriovOperatorStatus.yaml
      policyName: "{{ 'sriov-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: ptp-operator/PtpSubscriptionNS.yaml
      policyName: "{{ 'ptp-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: ptp-operator/PtpSubscriptionOperGroup.yaml
      policyName: "{{ 'ptp-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: ptp-operator/PtpSubscription.yaml
      policyName: "{{ 'ptp-subs' if manyPolicies else 'subscriptions' }}-policy"
{% if extraHubCommonTemplates %}
      metadata:
        annotations:
          {%- raw %}
          scale-test-label-1: '{{hub fromConfigMap "" "common-template-map" "key3" hub}}'
          scale-test-label-2: '{{hub fromConfigMap "" "common-template-map" "key4" hub}}'
          {%- endraw +%}
{% endif %}
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
      spec:
        source: {{ common_catalogsource_name }}
{% endif %}
    - fileName: ptp-operator/PtpOperatorStatus.yaml
      policyName: "{{ 'ptp-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogNS.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogOperGroup.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogSubscription.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
{% if extraHubCommonTemplates %}
      metadata:
        annotations:
          {%- raw %}
          scale-test-label-1: '{{hub fromConfigMap "" "common-template-map" "key3" hub}}'
          scale-test-label-2: '{{hub fromConfigMap "" "common-template-map" "key4" hub}}'
          {%- endraw +%}
{% endif %}
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
      spec:
        source: {{ common_catalogsource_name }}
        channel: stable-6.4
{% endif %}
    - fileName: cluster-logging/ClusterLogOperatorStatus.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogServiceAccount.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogServiceAccountAuditBinding.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: cluster-logging/ClusterLogServiceAccountInfrastructureBinding.yaml
      policyName: "{{ 'log-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: storage-lso/StorageNS.yaml
      policyName: "{{ 'storage-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: storage-lso/StorageOperGroup.yaml
      policyName: "{{ 'storage-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: storage-lso/StorageSubscription.yaml
      policyName: "{{ 'storage-subs' if manyPolicies else 'subscriptions' }}-policy"
{% if extraHubCommonTemplates %}
      metadata:
        annotations:
          {%- raw %}
          scale-test-label-1: '{{hub fromConfigMap "" "common-template-map" "key1" hub}}'
          scale-test-label-2: '{{hub fromConfigMap "" "common-template-map" "key2" hub}}'
          {%- endraw +%}
{% endif %}
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
      spec:
        source: {{ common_catalogsource_name }}
{% endif %}
    - fileName: storage-lso/StorageOperatorStatus.yaml
      policyName: "{{ 'storage-subs' if manyPolicies else 'subscriptions' }}-policy"
    # - fileName: AmqSubscriptionNS.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: AmqSubscriptionOperGroup.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: AmqSubscription.yaml
    #   policyName: "subscriptions-policy"
    #
    # LCA operator is used for orchestrating Image Based Upgrade for SNO
{% if include_lca_operator %}
    - fileName: lca/LcaSubscriptionNS.yaml
      policyName: "{{ 'lca-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: lca/LcaSubscriptionOperGroup.yaml
      policyName: "{{ 'lca-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: lca/LcaSubscription.yaml
      policyName: "{{ 'lca-subs' if manyPolicies else 'subscriptions' }}-policy"
      spec:
        channel: {{ lifecycle_agent_channel }}
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
        source: {{ common_catalogsource_name }}
{% endif %}
    - fileName: lca/LcaOperatorStatus.yaml
      policyName: "{{ 'lca-subs' if manyPolicies else 'subscriptions' }}-policy"

{% else %}
    # - fileName: LcaSubscriptionNS.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: LcaSubscriptionOperGroup.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: LcaSubscription.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: LcaOperatorStatus.yaml
    #   policyName: "subscriptions-policy"
    #
{% endif %}
    # OADP operator is used for backing up and restoring application during Image Based Upgrade
{% if include_oadp_operator %}
    - fileName: data-protection/OadpSubscriptionNS.yaml
      policyName: "{{ 'oadp-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: data-protection/OadpSubscriptionOperGroup.yaml
      policyName: "{{ 'oadp-subs' if manyPolicies else 'subscriptions' }}-policy"
    - fileName: data-protection/OadpSubscription.yaml
      policyName: "{{ 'oadp-subs' if manyPolicies else 'subscriptions' }}-policy"
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
      spec:
        source: {{ common_catalogsource_name }}
{% endif %}
    - fileName: data-protection/OadpOperatorStatus.yaml
      policyName: "{{ 'oadp-subs' if manyPolicies else 'subscriptions' }}-policy"

{% else %}
    # - fileName: OadpSubscriptionNS.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: OadpSubscriptionOperGroup.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: OadpSubscription.yaml
    #   policyName: "subscriptions-policy"
    # - fileName: OadpOperatorStatus.yaml
    #   policyName: "subscriptions-policy"
    #
{% endif %}
    - fileName: cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
      policyName: "{{ 'monitoring-config' if manyPolicies else 'config' }}-policy"
{% if rhacm_disconnected_registry and rhacm_disconnected_registry|length > 1 %}
    #
    # These CRs are in support of installation from a disconnected registry
    #
    - fileName: disconnected-registry/DefaultCatsrc.yaml
      policyName: "config-policy"
      # The Subscriptions all point to redhat-operators-disconnected. The OperatorHub CR
      # disables the defaults and this CR replaces redhat-operators-disconnected with a
      # CatalogSource pointing to the disconnected registry. Including both of
      # these in the same policy orders their application to the cluster.
      # Tip: for RH sources `image: registry.redhat.io/redhat/redhat-operator-index:v4.xx`
      metadata:
        name: {{ common_catalogsource_name }}
{% if extraHubCommonTemplates %}
        annotations:
          {%- raw %}
          scale-test-label-1: '{{hub fromConfigMap "" "common-template-map" "key3" hub}}'
          scale-test-label-2: '{{hub fromConfigMap "" "common-template-map" "key4" hub}}'
          {%- endraw +%}
{% endif %}
        labels:
          lca.openshift.io/target-ocp-version: "4.21.0"
      spec:
        displayName: disconnected-redhat-operators
        image: {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}/{{ disconnected_operator_index_name }}:{{ operator_index_tag }}
      status:
        connectionState:
          lastObservedState: READY
    - fileName: disconnected-registry/DisconnectedIDMS.yaml
      policyName: "config-policy"
      spec:
        imageDigestMirrors:
        - mirrors:
          - {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}
          source: registry.redhat.io
        - mirrors:
          - {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}
          source: brew.registry.redhat.io
        - mirrors:
          - {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}
          source: registry-proxy.engineering.redhat.com
        - mirrors:
          - {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}/ocp4/openshift4
          source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
        - mirrors:
          - {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}/ocp4/openshift4
          source: quay.io/openshift-release-dev/ocp-release
{% endif %}
